# Virtual Environment
venv/
.env

# Python
__pycache__/
*.py[cod]
*.pyo

# VS Code
.vscode/

# Logs
*.log

# Uploaded PDFs 
backend/app/uploads/*

# Vector Database 
backend/app/vector_store/
backend/chroma_db/*


# OS files
.DS_Store
Thumbs.db